argparse
open3d
trimesh
h5py
plyfile
click
absl-py
tqdm
wandb
plotly
siren-pytorch==0.0.4
zstandard==0.15.2
colour
configparser
decorator
future
imageio
matplotlib
matplotlib-inline
numpy
opencv-python
pathtools
Pillow==8.3.1
pyparsing
fvcore
PyYAML
pytorch-lightning==0.7.5
scikit-image
scipy==1.7.0

